body { color: #000; font-size: 73%; font-family: Tahoma, Arial, Verdana, sans-serif; background-color: #020043; margin-top: 5px; }
h1 { color: #4a6494; font-size: 1.5em; font-weight: 400; text-decoration: none; text-align: center; margin-top: 5px; margin-bottom: 7px; }
h2 { color: #b1b1b1; font-size: 1.1em; text-align: center; }
p { color: #b1b1b1; font-size: 0.9em; font-weight: 300; clear: none; padding-right: 5px; padding-left: 5px; }
a:link { color: #970210; font-weight: bold; text-decoration: none; word-spacing: 5px; letter-spacing: 2px; }
a:hover { text-decoration: none; border-bottom: 1px dotted #c2992c; }
.center { text-align: center; }
img { text-align: center; width: 580px; height: 400px; }
